<h1>Update label</h1>

<form method="post" action="/dashboard/label/update/{{label.id}}">
<label for="name">Name</label>
<input type="text" name="name">
<label for="street">Street</label>
<input type="text" name="street">
<label for="city">City</label>
<input type="text" name="city">
<label for="country">Country</label>
<input type="text" name="country">
<label for="streetNumber">Street number</label>
<input type="number" name="streetNumber">
<label for="zipcode">Zipcode</label>
<input type="text" name="zipcode">
<label for="img">Image</label>
<input type="text" name="logo">
<button>ok</button>
</form>