<h1>Create label</h1>

<form method="post" action="/dashboard/label/create"><br>
<label for="name">Name</label><br>
<input type="text" name="name"><br>
<label for="street">Street</label><br>
<input type="text" name="street"><br>
<label for="city">City</label><br>
<input type="text" name="city"><br>
<label for="country">Country</label><br>
<input type="text" name="country"><br>
<label for="streetNumber">Street number</label><br>
<input type="number" name="streetNumber"><br>
<label for="zipcode">Zipcode</label><br>
<input type="text" name="zipcode"><br>
<label for="img">Image</label><br>
<input type="text" name="logo"><br><br>
<button>ok</button><br>
</form>